@import '../base/variables';
@import '../base/mapas';
footer {
    background-color: map-get($footer, bg-footer);
    width: 100%;
    height: map-get($footer, height-footer );
    font-family: map-get($footer,font-family-footer );

    ul {
    padding-top: map-get($footer, padding-top-footer); 
    margin-left: map-get($footer, marging-left-footer); 

        li {
        padding: map-get($footer, padding-lista-footer) ;
        display: map-get($footer, display-footer); 
        
            a {
            color: map-get($footer, color-text); 
            display: map-get($footer, display-footer); 
            align-items: center;   
            //font-family: map-get($footer, font-family-footer);

            }
            
            img {
            width: map-get($footer, width-img); 

            }
        
        }
    }

    .copyright {
    padding-left: map-get($copyright, padding-left-copy) ;
    color: map-get($copyright, color-copy ) ;
    font-size: map-get($copyright, font-size-copy);
    font-style: map-get($copyright, font-style-copy); 
    font-family: map-get($copyright, font-family-copy); 
    }



}