@import '../base/variables';

.portadaInicio {
    background-color: white;
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include small{
        height: 100%;
    }

    @include Medium {
        height: 100%;
    }

    @include Large {
        height: 100%;
    }

    @include ExtraLarge {
        height: 100%;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include small {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.8fr ;
        }

        @include Medium {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.8fr ;
        }


        @include Large {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.8fr ;
        }
        
        @include ExtraLarge {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.8fr ;
        }
        
        div {
            display: inline-block;

            @include small {
                margin-bottom: 20px;
            }

            @include Medium {
                margin-bottom: 20px;
            }

            @include Large {
                margin-bottom: 10px;
            }

            @include ExtraLarge {
                margin-bottom: 10px;
            }
           

            h1 {
            color: rgb(43, 197, 197);
            font-size:xx-large;
            font-family: 'Montserrat', sans-serif;
            padding: 3vh 3vw;
            text-align: center;

                a {
                    color: $bg-color-encabezado;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 40px;

                    
                    @include small {
                        padding: 10px;
                        font-size: 30px;
                    }

                    @include Medium {
                        font-size: 35px;
                    }
                }

            }

            p {
            margin-top: 30px;
            padding: 3vh 5vw;
            color: black;
            font-size: 25px;
            font-family: 'Montserrat', sans-serif; 

            @include small {
                padding: 10px;
                margin: 0 20px;
                font-size: 18px;
            }

            @include Medium {
                font-size: 20px;
            }
            
            @include ExtraExtraLarge {
                font-size: 22px;
            }

            }
        }

        .fondoPortada {
            
            
            //height: 75vh;
            height: 100%;
            

            @include small {
                height: 65vh;
            }

            @include Medium {
                height: 70vh;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                

            }

            

        }
    }


}