@import '../base/variables';

.seccionDosInicio {

    background-color: $bg-color-seccion2;
    text-align: center;

    h2 {
    padding: 3vh 3vw ;
    color: rgb(255, 154, 95);
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    ul {
    margin: 0 auto;
        li {
        display: inline-block;
        padding: 5vh 5vw;
        /* background-color: white; */
        color: rgb(209, 131, 87);
        font-size: large;   
            img {
                width: 250px;
                margin: 0 auto;
            }

            
        }

    }


}