

$footer: (
    bg-footer: rgb(253, 179, 136),
    height-footer: 20vh,
    padding-top-footer: 1vh,
    marging-left-footer: 10%,
    padding-lista-footer: 1vh 2vw,
    color-text: black ,
    width-img: 15px,
    display-footer: flex, 
    font-family-footer: 'Montserrat' ,

) ;

$copyright: (
    padding-left-copy: 50% ,
    color-copy: black,
    font-size-copy: small,
    font-style-copy: italic,
    font-family-copy: Arial ,


)